commands:
    test_command:
        command: echo "ebextensions ran" > success
        cwd: /home/
    test_command2:
        command: echo "ebextensions ran" > success
        cwd: /home/ec2-user
    pre_env_command:
        command: printenv > pre_env
        cwd: /home/
    ls_com:
        command: ls /opt/python/current > ls_com
        cwd: /home/
    source_command:
        command: source /opt/python/current/env
        cwd: /opt/python/current
    post_env_command:
        command: printenv > post_env
        cwd: /home/
    pre_pip:
        command: pip freeze > pre_pip
        cwd: /home/
    numpy_install:
        command: pip install numpy
        cwd: /home/
    surprise_install:
        command: pip install scikit-surprise  
        cwd: /home/
    prost_pip:
        command: pip freeze > post_pip
        cwd: /home/
    application:
        command: python application.py
        cwd: /opt/python/current/app/